@using TTN_DXQ_LCH_NTN.Models
@model List<ShoppingCart>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/NguoiDungLayout.cshtml";
}

<table border="1" >
    <thead>
        <tr>
            <th style="width: 20%;">Tên Sản Phẩm</th>
            <th style="width: 50%">Ảnh</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td><img src="@Url.Content(item.Image)" class="productImg" alt="@item.ProductName" /></td>
                    <td>@item.Price</td>
                    <td>@item.Total</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="thanhtoan">
    <input type="submit" value="Thanh Toán" class="btn btn-default" />
</div>


<style>
    .productImg{
        width:20%;
    }
    table{
        margin:243px;
    }
</style>